<footer class="py-5" style="background-color: #0E1C36;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12" style="color: #ffffff;">
                <p>18 Wilderness Rd, Claremont, Cape Town, 7708 </p>
                <p>Telephone: +27 (0)21 671 7052</p>
                <p>Email: <a href="mailto:anewham.practice@gmail.com">anewham.practice@gmail.com</a></p>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center" style="color: #28587B;">
        <p>Copyright &copy; Andrew Newham 2020
            <br/>Website by Simon Newham
            <br />v2.0.1
        </p>
    </div>
</footer>