<footer class="py-5" style="background-color: #0E1C36;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12" style="color: #ffffff;">
                <p>
                    <i class="fa fa-home" style="font-size:20px"></i>&nbsp;18 Wilderness Rd, Claremont, Cape Town, 7708 <br />
                    <i class="fa fa-phone" style="font-size:20px"></i>&nbsp;+27 (0)21 671 7052<br />
                    <i class="fa fa-envelope" style="font-size:20px"></i><a
                        href="mailto:appointments@capetowngynaecologist.co.za">&nbsp;appointments@capetowngynaecologist.co.za</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center" style="color: #28587B;">
        <p>Copyright &copy; Andrew Newham 2020
            <br />Website by Simon Newham v2.2
        </p>
    </div>
</footer>