<div class="container content">
    <h3 class="mt-3 mb-2">Meet Dr Newham</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <div class="row" style="margin-bottom: 50px;">
        <div class="col-lg-5">
            <img class="img-fluid rounded mb-4" src="assets/images/ultra.jpg" alt="">
        </div>
        <div class="col-lg-7">
            <p>Dr Newham grew up in Pretoria, matriculating at Pretoria Boys' High School in 1977. He studied medicine
                at the University of Cape Town. His year as an intern was spent in East London at Frere Hospital.</p>
            <p>Before starting his specialist training at UCT/Groote Schuur Hospital, he spent time doing general
                medicine, geriatric medicine, paediatrics and spent a year in Switzerland at the University of Basel.
            </p>
            <p>During his obstetrics and gynaecology training his special interest was reproductive medicine. This area
                of speciality is concerned mainly with fertility, recurrent miscarriages and the hormonal aspects of
                gynaecology including menstrual abnormalities, premenstrual syndrome, menopausal issues, bone
                health/osteoporosis and polycystic ovary syndrome (PCOS). During this time his research interest and
                publication was in chronic pelvic pain and he retains a keen interest in this complex condition. </p>
            <p>Private practice began in 1997 as solo practice at <a
                    href="https://www.lifehealthcare.co.za/hospitals/western-cape/cape-town/life-kingsbury-hospital/"
                    target="_blank">Kingsbury Hospital</a> in association with Drs Kukard and Barnard. Over the past 20
                years he has gained extensive experience in general obstetrics and gynaecology and the
                interaction/collaboration involved in the private sector in Cape Town as a whole.
            </p>
            <p>His areas of special interest and growth have remained:</p>
            <ul>
                <li>
                    Reproductive Medicine
                    <br>(Fertility, PCOS, recurrent miscarriage, menopausal medicine)
                </li>
                <li>Chronic Pelvic Pain</li>
                <li>Medical management of gynaecological problems
                    <br>(Abnormal bleeding, pain, endometriosis)
                </li>
            </ul>
        </div>
    </div>
</div>