<footer class="py-5 ap-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4 col-xs-12" style="color: #E1E1E1;">
                <p class="wrap">
                    <i class="fa fa-home" style="font-size:20px"></i>&nbsp;18 Wilderness Rd, Claremont, Cape Town, 7708
                    <br />
                    <i class="fa fa-phone" style="font-size:20px"></i>&nbsp;+27 (0)21 671 7052<br />
                    <i class="fa fa-envelope" style="font-size:20px"></i><a
                        href="mailto:appointments@capetowngynaecologist.co.za">&nbsp;appointments@capetowngynaecologist.co.za</a>
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="text-center" style="color: #E1E1E1;">
        <p>Copyright &copy; Andrew Newham 2020
            <br />Website by Simon Newham v3
        </p>
    </div>
</footer>