<div class="row justify-content-center" style="background-color: #1E4258; padding-top: 2vh; padding-bottom: 2vh;">
    <div class="col">
        <div style="text-align: center;">
            <h2 style="color: white">Dr Andrew Newham</h2>
            <h4 style="color: white">Specialist Gynaecologist | Cape Town</h4>
            <p style="color: #bfbfbf">
                +27 (0)21 671 7052 |
                <a style="color: #bfbfbf"
                    href="mailto:appointments@capetowngynaecologist.co.za">appointments@capetowngynaecologist.co.za</a>
            </p>
            <i class="pb-2" style="color: #bfbfbf;">"Promoting wellness through specialist holistic care."</i>
        </div>
    </div>
</div>
<div class="container content">
    <br>
    <div class="row">
        <div class="col-lg-4 mb-2">
            <div class="card h-100 home-card" routerLink="/Services">
                <h5 class="card-header">Services</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">Browse all services offered by Dr Newham.</p>
                    <i class="fa fa-stethoscope" style="font-size:70px;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="card h-100 home-card" routerLink="/Contact">
                <h5 class="card-header">Contact Details</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">View our contact details and office hours.</p>
                    <i class="fa fa-map-o" style="font-size:70px; align-content: center;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="card h-100 home-card" routerLink="/FAQs">
                <h5 class="card-header">Costs and other FAQs</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">View Dr Newham's answers to some frequently asked questions.
                    </p>
                    <i class="fa fa-question" style="font-size:70px"></i>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-7">
            <h5 style="color: #28587B">Meet Dr Newham</h5>
            <p>Dr Newham grew up in Pretoria, matriculating at Pretoria Boys' High School in 1977. He studied
                medicine at the University of Cape Town. His year as an intern was spent in East London at Frere
                Hospital.
            </p>
            <p>Before starting his specialist training at UCT/Groote Schuur Hospital, he spent time doing general
                medicine, geriatric medicine, paediatrics and spent a year in Switzerland at the University of
                Basel.
            </p>
            <p>He currently works in association with <a href="https://www.capegynaecologist.co.za/" target="_blank">Dr Gary
                Groenewald</a> who, being a certified laparoscopic surgeon as
                well as having years of experience in pelvic floor reconstructive surgery, provides the surgical
                expertise.
            </p>
            <div style="text-align:right;">
                <a class="btn btn-primary mb-2 primary-small" routerLink="/About">Read More</a>
            </div>
        </div>
        <div class="col-lg-5" style="text-align: center;">
            <img class="img-fluid rounded" src="assets/images/mug.jpg" alt="Dr A Newham" height="314" width="418">
        </div>
    </div>
    <hr>
    <app-contact [showBreadCrumb]="false"></app-contact>
</div>