<div class="container content">
    <div class="row">
        <div class="col-lg-5 mb-3" style="text-align: left;">
            <img class="img-fluid rounded" src="assets/images/banner.jpg" alt="specialist gynaecologist"
                style="height: 30vh;">
        </div>
        <div class="col-lg-7" style="margin-top: auto; margin-bottom: auto;">
            <div style="text-align: center;">
                <h2>Dr Andrew Newham</h2>
                <h4>Specialist Gynaecologist | Cape Town</h4>
                <p style="color: #3895D3;">
                    +27 (0)21 671 7052 |
                    <a style="color: #3895D3"
                        href="mailto:appointments@capetowngynaecologist.co.za">appointments@capetowngynaecologist.co.za</a>
                </p>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <h5 style="color: black;">
            <i>"Promoting wellness through specialist holistic care."</i>
        </h5>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4 mb-2">
            <div class="card h-100">
                <h5 class="card-header">Services</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">Browse all services offered by Dr Newham.</p>
                    <i class="fa fa-stethoscope" style="font-size:70px;"></i>
                </div>
                <div class="card-footer footer-wide">
                    <a routerLink="/Services" class="btn btn-primary primary-wide">Search</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="card h-100">
                <h5 class="card-header">Contact Details</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">View our contact details and office hours.</p>
                    <i class="fa fa-map-o" style="font-size:70px; align-content: center;"></i>
                </div>
                <div class="card-footer footer-wide">
                    <a routerLink="/Contact" class="btn btn-primary primary-wide">View</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-2">
            <div class="card h-100">
                <h5 class="card-header">Appointments</h5>
                <div class="card-body" style="text-align:center;">
                    <p class="card-text">Send us a message and we'll get back to you about scheduling an
                        appointment.
                    </p>
                    <i class="fa fa-pencil" style="font-size:70px"></i>
                </div>
                <div class="card-footer footer-wide">
                    <a (click)="showMessageDialog()" class="btn btn-primary primary-wide">Send Message</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h5 style="color: #28587B">COVID-19</h5>
    <div class="row">
        <div class="col-lg-7 mb-2">
            <div id="serviceCard" class="card h-100">
                <strong class="card-header" style="color: #28587B;">Patient Safety Protocol</strong>
                <div id="bodyCustom" class="card-body">
                    <p class="card-text">
                        We commit to following strict Covid-19 safety guidlines to ensure the safety of all
                        patients.
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 mb-2">
            <div id="serviceCard" class="card h-100">
                <strong class="card-header" style="color: #28587B;">Useful Resources</strong>
                <div id="bodyCustom" class="card-body">
                    <p>
                        <a href="https://sacoronavirus.co.za/" target="_blank">
                            - COVID-19 South African Resource Portal</a><br />
                        <a href="https://www.afro.who.int/countries/south-africa" target="_blank">
                            - WHO South Africa</a><br />
                        <a href="https://www.nicd.ac.za/diseases-a-z-index/covid-19/" target="_blank">
                            - NICD Covid 19 Resources</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6" style="padding-right: 50px;">
            <h5 style="color: #28587B">Meet Dr Newham</h5>
            <p>Dr Newham grew up in Pretoria, matriculating at Pretoria Boys' High School in 1977. He studied
                medicine at the University of Cape Town. His year as an intern was spent in East London at Frere Hospital.
            </p>
            <p>Before starting his specialist training at UCT/Groote Schuur Hospital, he spent time doing general
                medicine, geriatric medicine, paediatrics and spent a year in Switzerland at the University of
                Basel...
            </p>
            <div style="text-align:right;">
                <a class="btn btn-primary mb-2 primary-small" routerLink="/About">Read More</a>
            </div>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <img class="img-fluid rounded"
                src="assets/images/ultra.jpg" alt="Dr A Newham" height="360" width="480">
        </div>
    </div>
</div>