<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-ap">
    <div class="container">
        
        <a class="navbar-brand" routerLink="/" data-toggle="collapse" data-target=".navbar-collapse.show">
            <img class="img-fluid"
            src="assets/images/logo.png" alt="logo" height="38" width="38">
            &nbsp;Dr Andrew Newham</a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/About" data-toggle="collapse" data-target=".navbar-collapse.show">
                        Meet Dr Newham</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Services" data-toggle="collapse"
                        data-target=".navbar-collapse.show">
                        Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Contact" data-toggle="collapse"
                        data-target=".navbar-collapse.show">
                        Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Admin" data-toggle="collapse"
                        data-target=".navbar-collapse.show">
                        <i class="fa fa-lock" aria-hidden="true" [ngClass]="{auth : authenticated}"></i>&nbsp;Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>