<div class="container content">
    <h3 class="mt-2 mb-2">Services</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Services</li>
    </ol>

    <div>
        <img class="img-fluid" src="assets/images/service.png" alt="" height="267" width="1200">
    </div>

    <div style="padding-top: 20px; padding-bottom: 20px;">
        <strong>Dr Newham is primarily interested in the medical management of womens health. When major surgical
            intervention is required he will arrange this in conjunction with an appropriately specialised colleague.
        </strong>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Well Woman Practice</h5>
                <div id="bodyCustom" class="card-body">
                    <p class="card-text">General health and gynaecological check with ultrasound scan, pap smear and
                        blood tests as needed.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Hormonal Health</h5>
                <div class="card-body">
                    <ul>
                        <li>Premenstrual syndrome</li>
                        <li>Hormone imbalances</li>
                        <li>Polycystic ovary syndrome</li>
                        <li>Menstrual abnormalities</li>
                        <li>Weight gain, acne, unwanted facial hair</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Contraception</h5>
                <div class="card-body">
                    <p class="card-text">The full range of contraceptive choices is discussed and offered.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Fertility and Early Pregnancy</h5>
                <div class="card-body">
                    <ul>
                        <li>Fertility investigations</li>
                        <li>Ovulation induction</li>
                        <li>Insemination</li>
                        <li>Recurrent miscarriage</li>
                        <li>Early pregnancy complications</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Menopause/Bone/Breast</h5>
                <div class="card-body">
                    <ul>
                        <li>Non-hormonal treatment of menopausal symptoms </li>
                        <li>Hormone therapy</li>
                        <li>Monitoring and treatment of low bone density/osteoporosis</li>
                        <li>Screening for breast cancer</li>
                        <li>Care following treatment of breast cancer</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div id="serviceCard" class="card h-100">
                <h5 class="card-header" style="color: #28587B;">Emergency Gynaecology</h5>
                <div class="card-body">
                    <ul>
                        <li>Emergency contraception</li>
                        <li>Unplanned pregnancy</li>
                        <li>Early pregnancy complications</li>
                        <li>Pelvic pain</li>
                        <li>Abnormal bleeding</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>