<div class="container content">
    <h3 class="mb-2">Frequently Asked Questions</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">FAQs</li>
    </ol>
    <div *ngFor="let question of questions">
        <app-faq-item [question]="question.Question" [answer]="question.Answer"></app-faq-item>
    </div>

    <p class="text-right">*Costs are subject to change without warning, please confirm all costs with reception.</p>
</div>