@import "@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    padding-top: 50px; 
}

.content {
    padding-top: 8px;
}

.navbar-ap{
    background-color: #1E4258; 
}

.primary-wide {
    background-color: #265077; 
    border: none; 
    width: 100%;
}

.primary-small{
    background-color: #265077; 
    border: none; 
}
.primary-small:disabled {
    background-color: #2650775e; 
}
.primary-small:disabled:hover {
    background-color: #2650775e; 
}

.primary-small:hover {
    background-color: #494B68;
}

.primary-wide:hover {
    background-color:#28587B;
}

.footer-wide {
    text-align:center; 
    background-color: #022140; 
}

h1, h2, h3, h4, h5{
    color: #022140;
}
@media screen and (max-width: 600px) {
    h2 {
      font-size: 1.6em;
    }
    h3, h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.1em;
    }
    p {
        font-size: .9em;
        white-space: pre-line;
    }
    i{
        font-size: .9em;
    }
    li {
        font-size: .9em;
    }
    label {
        font-size: .9em;
    }
    a {
        font-size: .9em;
    }
  }

p.wrap {
    word-break: break-all;
}

li {
    margin-left: 2px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50; 
  }

.modal-content {
      position: fixed;
      align-self: center;
      width: 100vw;
      padding: 2px;
      z-index: 100;
      background: white;
      box-shadow: 0 2px 8px rgb(0, 0,0, 0.26);
  }

.custom-modalbox >  mat-dialog-container {
    color: black;
    background-color: white;
}

.validation {
    color: #a94442;
    font-size: small;
}

.style-success {
    color: #42A948;
    background-color: #42A948;
  }

.close-dialog {
    text-align: right;
}

.close-button {
    border: none;
}

.mat-table {
    width: 100%;
    background: white;
}

.ap-footer {
    background-color: #1E4258;
    margin-top: auto;
}

.ap-body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.auth{
   color: green;
}

.home-card:hover{
    background-color: #c0c0c036;
    color: black;
    cursor: pointer;
}
.home-card:hover h5 {
    color: black;
}

.is-link {
    cursor: pointer;
}
.is-link:hover{
    background-color: #b6b5b53f;
}

p {
    white-space: pre-line;
}

.admin-base {
    padding: 2vh;
    min-height: 80vh;
    min-width: 60vw;
}