@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    padding-top: 65px; 
}

.content {
    margin-bottom: 30px;
}

.navbar-ap{
    background-color: #28587B;
    border-bottom: solid;
    border-color: #3895D3;   
    border-width: 4px;
}

.primary-wide {
    background-color: #28587B; 
    border: none; 
    width: 100%;
}

.primary-small{
    background-color: #28587B; 
    border: none; 
}

.primary-wide:hover {
    background-color:#28587B;
  }

.footer-wide {
    text-align:center; 
    background-color: #28587B; 
    border-bottom: solid;
    border-color: #3895D3;  
}

h1, h2, h3, h4, h5{
    color: #28587B;
}

p.wrap {
    word-break: break-all;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50; 
  }

.modal-content {
      position: fixed;
      align-self: center;
      width: 100vw;
      padding: 2px;
      z-index: 100;
      background: white;
      box-shadow: 0 2px 8px rgb(0, 0,0, 0.26);
  }

.custom-modalbox >  mat-dialog-container {
    color: black;
    background-color: white;
}

.validation {
    color: #a94442;
    font-size: small;
}

.style-success {
    color: #42A948;
    background-color: #42A948;
  }

.close-dialog {
    text-align: right;
}

.close-button {
    border: none;
}

.mat-table {
    width: 100%;
    background: white;
}

.ap-footer {
    background-color: #28587B;
}

.admin-view {
    min-height: 60vh;
}

.center {
    text-align: center;
}

.auth{
   color: green;
}